<main  class="container-fluid">
  <div class="row my-5 justify-content-center">
    <div class="col-sm-12 col-xl-3 ">
      <div id="admin-dashbord" class="card p-2">
        <div class="card-inner">
          <div class="icon-wrap"><i class='bx bx-dollar text-danger'></i></div>
          <div class="wrap">
            <p class="text-danger">TOTAL SALES</p>
            <span class="text-danger font-weight-bold count-indication">$ {{totalsales}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-3">
      <div id="admin-dashbord"  class="card p-2">
        <div class="card-inner">
          <div class="icon-wrap"><i class='bx bxs-shopping-bags text-danger'></i></div>
          <div class="wrap">
            <p class="text-danger">TOTAL ORDERS</p>
            <span class="text-danger font-weight-bold count-indication">{{totalOrders}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-3">
      <div  id="admin-dashbord"  class="card  p-2">
        <div class="card-inner">
          <div class="icon-wrap"><i class='bx bxs-collection text-danger'></i></div>
          <div class="wrap">
            <p class="text-danger">TOTAL PRODUCTS</p>
            <span style="text-align:left ;" class="text-danger font-weight-bold count-indication">{{totalProducts}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sals_report__wrapper  mb-5 d-flex justify-content-center">
    <a href="/admin/sales-report" class="btn btn-primary sales_report">View Report</a>
  </div>

  <div class="container-fluid">
    <div class="row charts  py-3 bg-dark my-5">
      <div class="col-md-12 col-xl-6 mb-1 ">
        <div class="charts-card">
          <p class="chart-title">Sales Report</p>
          <canvas id="bar" height="100" width="100"></canvas>
        </div>
      </div>
      <div class="col-md-12 col-xl-6">
        <div class="charts-card">
          <p class="chart-title">Top Products</p>
          <canvas id="donet" height="100%" width="100%"></canvas>
        </div>
      </div>
    </div>
  </div>

</main>

<ul class="ulLabel" hidden>
  {{#each SalesReport}}
    <input class="Label_val" type="text" value="{{this._id}}">
  {{/each}}
</ul>
<ul class="ulData" hidden>    
  {{#each SalesReport}}
    <input class="Count_val" type="text" value="{{this.count}}">
  {{/each}}
</ul>


{{!-- product report start --}}
<ul class="ulLabel" hidden>
  {{#each ProductReport}}
    <input class="dou_Label_val" type="text" value="{{this.name}}">
  {{/each}}
</ul>
<ul class="ulData" hidden>
  {{#each ProductReport}}
    <input class="dou_Count_val" type="text" value="{{this.totalSaledProduct}}">
  {{/each}}
</ul>

<!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>  
    
<script>
  const ctx = document.getElementById('donet');
  let doulableVal = document.getElementsByClassName("dou_Label_val")
  let doucountVal = document.getElementsByClassName("dou_Count_val")
  let labels=[] 
  let datas=[]
  let backgroundColor=[]
  for(x in doulableVal){
    if(x <= doulableVal.length){
      labels.push(doulableVal[x].value)
      datas.push(doucountVal[x].value)
      const randomColor = Math.floor(Math.random()*16777215).toString(16);
      backgroundColor.push("#"+randomColor)
    }
  }
  const donet = new Chart(ctx, {
    type: 'doughnut',
    data : {
      labels:labels,
      datasets: [{
        label: 'Products',
        data: datas,
        backgroundColor:backgroundColor,
        hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  const ctr = document.getElementById('bar');
  let lableVal = document.getElementsByClassName("Label_val")
  let countVal = document.getElementsByClassName("Count_val")
  let label=[] 
  let data=[]
  for(x in lableVal){
    if(x <= lableVal.length ){
      label.push(lableVal[x].value)
      data.push(countVal[x].value)
    }
  }
  const bar = new Chart(ctr, {
    type: 'bar',
    data : {
      labels: label,
      datasets: [{
        label: 'Monthly Sales',
        data: data,
        backgroundColor: [
          'rgb(255, 99, 132)'
        ],
        hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

